@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

body{
    font-family:'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}

.main iframe {
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid rgb(250, 177, 189);

}

.info img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid rgb(250, 177, 189);
}

.header,
.footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.header{
    background-color:black;
    color:white;
    padding: 10px 100px;
}


.head img{
    height: 200px;
    width: 300px;
}

a {
    text-decoration: none;
}

.subtext,
.text{
    font-size: 18px;
    color: white;
}
.link a{
    color: white;
    font-size: 20px;
    font-weight: 700;
}

.header-link{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.head{
    display: flex;
    flex-shrink: 1;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.main{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.main-text{
    margin-right: 20px;
}

.spotify,
.sign-up {
    border-radius: 5px;
    border: 0;
    padding: 5px 25px;
    font-size: 20px;
    font-weight: bold;
}
.spotify{
    background-color: rgb(250, 177, 189);
}

.main .spotify{
    margin-top: 25px;
}
.main-text a{
    color: black;
  }

.middle{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.middle .title{
    font-size: 36px;
    font-weight: 900;
    color: black;
}

.text{
    color: black;
    margin-top: 10px;
    font-weight: 600;
}
.container{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.quote{
    background-color: rgb(250, 177, 189);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 75px;
}

.jennie-quote{
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
}
.quoted{
    align-self: flex-end;
    font-weight: 700;
    margin-top: 30px;
    font-size: 18px;
}


.end{
    background-color: black;
    margin: 50px 100px;
    padding: 50px 90px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

.end button{
    background-color: black;
    border: 5px solid white;
}

.end a{
    color: white;
}

.end-main,
.end-subtext{
    color: white;
}
.end-main{
    font-weight: 600px;
    font-size: 24px;
    margin-bottom: 10px;
}

.end-subtext{
    font-weight: 300;
    font-size: 18px;
}

.footer{
    padding: 20px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
}



